/*HEAD*/
*{
    font-family: "Permanent Marker", cursive;
    margin: 0 !important;
    padding: 0 !important;
    scroll-behavior: smooth !important;
    
}
h1, h2, p{
    font-family: "Permanent Marker", cursive;
    color: rgb(49, 49, 49) !important;
    z-index: 10;
}
/*-------  Navigation ----*/
.navbar{
    background: rgba(255, 255,255, 0.2) !important;
}
.navbar-brand img{
    height: 60px;
    padding-left: 3rem;
}
.navbar-nav{   
    padding-left: 16rem !important;
}
.nav-link{
    font-family: "Permanent Marker", cursive;
    font-size: 32px;
    color: rgb(10, 10, 10) !important;
    padding-right: 2rem !important;
    text-shadow: 1px 1px 2px #ad8106;  
}
a:hover, .active{
    color: #ad8106 !important;
    text-shadow: 2px 4px 5px #000;
}


/*-------  Home page ----*/
.home{
    
    height: 100vh;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.home-text{
    position: absolute;
    top: 18%;
    left: 38%;
}
.home-text h1{
    font-size: 80px;
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: 2px 2px 2px #ad8106;
}
.home-text h2{
    margin-top: 1rem;
    font-size: 56px;
    text-align: center;
    color:#ad8106 !important;
    text-shadow: 2px 4px 5px #000;
}
.home-text p{
    font-size: 36px;
    font-family: "Permanent Marker", cursive;
    text-align: center;
    color:#ad8106 !important;
    text-shadow: 2px 4px 5px #000;   
}
.home img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width: 992px) { 
    .home-text{
        left: 30%;
    }
    .home-text h2{        
        font-size: 2rem;
    }  
    .home-text h1{
        font-size: 3rem;
    } 
    .home-text p{
        font-size: 1.75rem;
    }   
}
@media screen and (max-width: 768px) { 
    .home-text{
        left: 30%;
        top: 10%;
    }
    .home-text h2{        
        font-size: 1.75rem;
    }  
    .home-text h1{
        font-size: 2.5rem;
    } 
    .home-text p{
        font-size: 1.5rem;
    }   
}


/*-------  About page ----*/
.about{
    width: 100%;
    height: 90vh;
    object-fit: cover;
    position: relative;
    display: flex;
    justify-content: center;   
    background-color: rgba(100, 100,100, 0.1); 
    padding-bottom: 2rem;
}
.about img{
    position: relative;
    width: 100%;
    object-fit: cover;
}
.center{
    justify-content: center;    
}
.about-item{        
    height:600px;
    position: absolute;
    top: 10%;
    text-align: center;
    border: 1px solid #ad8106;
           
}
.color-1{
    color: #ad8106 !important;
}
.color-2{
    background-color: rgba(100, 100,100, 0.3); 
}
.about-item h2{
    font-size: 42px;
    padding-bottom: 2rem;
}
.about-item h3{
    padding-top: 1rem;
}
.about-item p{
    font-family: "Permanent Marker", cursive;
    font-size: 1.25rem;
    letter-spacing: 2px;
    line-height: 1.5;
}


/* ====  Media query for About section*/

@media screen and (max-width: 992px) { 
    .about-item{        
        height:430px;
    }      
}
@media screen and (max-width: 768px) { 
    .about-item{
        top:.5rem;
        height:310px;
    }  
    .about-item h3{
        font-size: 1.2rem;
    }
    .about-item h2{
        font-size: 1.5rem;
    }
    .about-item p {
        font-size: 1rem;
        letter-spacing: 1px;
        line-height: 1;
    }
}

#btn-back-to-top {
    background-color: #b4b7bb;
    opacity: 0.4;
    border: none;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 100%;
    display: none;
}

