/*HEAD*/
*{
    font-family: "Permanent Marker", cursive;
    margin: 0 !important;
    padding: 0 !important;
    scroll-behavior: smooth !important;
    
}
h1, h2, p{
    color: rgb(49, 49, 49) !important;
    z-index: 10;
}
h1, h2, .sub4, .sub3, .sub2, .sub1, p{
    font-family: "Permanent Marker", cursive;
}
.sub4, .sub3, .sub2, .sub1{
    color: rgb(90, 90, 90) !important;
}

/*-------  Navigation ----*/
.navbar{
    background: rgba(255, 255,255, 0.2) !important;
}
.navbar-brand img{
    height: 60px;
    padding-left: 3rem;
}
.navbar-nav{   
    padding-left: 16rem !important;
}
.nav-link{
    font-family: "Permanent Marker", cursive;
    font-size: 32px;
    color: rgb(10, 10, 10) !important;
    padding-right: 2rem !important;
    text-shadow: 1px 1px 2px #ad8106;  
}
a:hover, .active{
    color: #ad8106 !important;
    text-shadow: 2px 4px 5px #000;
}


/*-------  Home page ----*/
.home{
    
    height: 100vh;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.home-text{
    position: absolute;
    top: 18%;
    left: 38%;
}
.home-text h1{
    font-size: 80px;
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: 2px 2px 2px #ad8106;
}
.home-text h2{
    margin-top: 1rem;
    font-size: 56px;
    text-align: center;
    color:#ad8106 !important;
    text-shadow: 2px 4px 5px #000;
}
.home-text p{
    font-size: 36px;
    font-family: "Permanent Marker", cursive;
    text-align: center;
    color:#ad8106 !important;
    text-shadow: 2px 4px 5px #000;   
}
.home img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width: 992px) { 
    .home-text{
        left: 30%;
    }
    .home-text h2{        
        font-size: 2rem;
    }  
    .home-text h1{
        font-size: 3rem;
    } 
    .home-text p{
        font-size: 1.75rem;
    }   
}
@media screen and (max-width: 768px) { 
    .home-text{
        left: 30%;
        top: 10%;
    }
    .home-text h2{        
        font-size: 1.75rem;
    }  
    .home-text h1{
        font-size: 2.5rem;
    } 
    .home-text p{
        font-size: 1.5rem;
    }   
}


/*-------  About page ----*/
.about{
    width: 100%;
    height: 90vh;
    object-fit: cover;
    position: relative;
    display: flex;
    justify-content: center;   
    background-color: rgba(100, 100,100, 0.1); 
    padding-bottom: 2rem;
}
.about img{
    width: 100%;
    object-fit: cover;
}
.center{
    justify-content: center;    
}
.about-item{    
    width: 100%;
    height:600px;
    position: absolute;
    top: 10%;
    text-align: center;
    border: 1px solid #ad8106;
           
}
.color-1{
    color: #ad8106 !important;
}
.color-2{
    background-color: rgba(100, 100,100, 0.3); 
}
.about-item h2{
    font-size: 42px;
    padding-bottom: 2rem;
}
.about-item h3{
    padding-top: 1rem;
}
.about-item p{
    font-family: "Permanent Marker", cursive;
    font-size: 1.25rem;
    letter-spacing: 2px;
    line-height: 1.5;
}


/* ====  Media query for About section*/

@media screen and (max-width: 992px) { 
    .about-item{        
        height:430px;
    }      
}
@media screen and (max-width: 768px) { 
    .about-item{
        top:.5rem;
        height:310px;
    }  
    .about-item h3{
        font-size: 1.2rem;
    }
    .about-item h2{
        font-size: 1.5rem;
    }
    .about-item p {
        font-size: 1rem;
        letter-spacing: 1px;
        line-height: 1;
    }
}

/* ======= */
.img-responsive {
    margin: 10px;
}

.img-responsive:hover {
    box-shadow: 4px 5px 5px 4px;
    border-radius: 8px;
}

#menu-list {
    background: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)), url("../gallery-images/restaurant-facade.jpg") cover fixed no-repeat;
/*>>>>>>> e48e11d37c22f475a0b5a8f94174afa0cee1e83c*/
}



/* html, body{
    overflow-x: hidden;
} */


.container-fluid{
    margin-left: 0;
    margin-right: 0;
}

#row1{
    background-image: url("../images/pics/backgne.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}


@media only screen and (min-width: 1000px) and (max-width: 2000px) {
    #row1{
        height: 700px;
    }
    
}

.whitespace1{
    padding-bottom: 20px;
    padding-top: 20px;
}
.whitespace2{
    padding-bottom: 120px;
}

.list-items{
    color: #b48c80;
}
li span{
    color: #000;
}
/* Fonts */
.h1{
    font-family: 'Montez', cursive;
    font-size: 10vmin;
    color: rgb(252, 218, 154);
}
.sub1{    
    color: white !important;
    font-size: 7vmin;
}
.color-white{
    color: #fff !important;
}
.h3{
    font-family: 'Montez', cursive;
    font-size: 36px;
    color: #b48c80;
}
.sub3{
    
    font-size: 36px;
    
    text-transform: uppercase;
}

.h2{
    font-family: 'Montez', cursive;
    color: #fcda9a;
    font-size: 44px;
}
.sub2{
    font-size: 44px;
    text-transform: uppercase;
}
p{    
    font-size: 1.5rem;
    color: #777777;
}
.sub4{    
    font-size: 21px;
}
/*Fonts end*/
.side-link{
    text-decoration: none;
    border-bottom: 1px solid #b48c80;
    /* margin-top: 5px; */
}
.side-link:hover{
    color: #b48c80;
}

a .fa-angle-double-right{
    color: #161d27;
    font-size: small;


}
#row-services{
    background-image: url("../images/pics/bkg-img17.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vmin;
}

@media only screen and (min-width: 1000px) and (max-width: 2000px) {
    .side-images{
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 20px;
    }
    .side-text{
        padding-top: 75px;
    }
}


#row-mia{
    background-image: url("../images/pics/bkg-img18.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vmin;
}
/* Curved border/image. Not sure about this*/
#row-design{
    background-image: url("../images/border-decor.png");
    top: 100px;
}

/* @media only screen and (min-width: 768px) and (max-width: 2000px) {
.carousel-inner{
    display: flex;
}
.carousel-item {
    padding: 20px;
    margin-right: 0;
    flex: 0 0 50%;
    display: block;
  }
} */

/* #carousel-images{
    display: flex;
} */

.carousel-indicators{
    left: 0;
    top: auto;
    bottom: -70px;
}
.carousel .carousel-indicators li{
    background: #b48c80;
    width: 1.2rem;
    height: 0.05rem;
    border-radius: 100%;
}
.carousel-indicators .active{
    background: red;
}

#send-btn:hover{
    background: #b48c80;
    border: none;

}

#btn-back-to-top {
    background-color: #1d2026;
    opacity: 0.4;
    border: none;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 100%;
    display: none;
}

.fa{
    color: #b48c80;
}


